<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门</title>

    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <script src="/layuiadmin/layui/layui.js"></script>
    <script src="/js/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        //使用表格
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#deptInfo' //根基id获取元素
                ,height: 450
                ,url:'/back_dept/queryDept' //路径
                ,toolbar: '#toolbarDemo'
                ,cols: [[ //列
                    {field:  'did', title: '部门编号',align: 'center'}
                    ,{field: 'dname', title: '部门名称',align: 'center'}
                    ,{fixed: 'right', title:'操作' , align:'center', toolbar: '#barDemo'}
                ]]
            });

            //头部工具栏的监听事件
            table.on('toolbar(dept)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                $.ajax({
                    url: "/back_dept/addShowDept",
                    success: function () {
                        layer.open({
                            title: '添加部门'
                            , id: 'add'
                            , type: 2
                            , content: '/back_dept/addShowDept'
                            , offset: '50px'//居上10左右居中
                            , resize: false//不可改变大小
                            , fixed: false//鼠标滚动时，固定在可视区域
                            , btn: '关闭'
                            , btnAlign: 'c' //按钮居中
                            , shade: 0.3 //遮罩
                            , area: ['450px', '230px']
                        });
                    },error:function(XMLHttpRequest){
                        if (XMLHttpRequest.status==403){
                            layer.msg('对不起，你没有该权限', {icon: 5});
                        }
                    }
                });
            });

            //监听行工具事件
            table.on('tool(dept)', function(obj){
                var data = obj.data;
                if(obj.event == 'del'){
                    layer.confirm('真的要删除该部门吗？', function(index){
                        layer.close(index);
                        $.ajax({
                            type:'post',
                            url:'/back_dept/delDept',
                            dataType:'json',
                            data:{deptId:data.did},
                            success:function(res){
                                if(res==1) {
                                    layer.msg('删除成功', {icon: 1, time: 5000});
                                    table.reload("deptInfo")
                                }
                            },error:function(XMLHttpRequest){
                                if (XMLHttpRequest.status==403){
                                    layer.msg('对不起，你没有该权限', {icon: 5});
                                }
                            }
                        });
                    });
                } else if(obj.event == 'update'){
                    $.ajax({
                        url:"/back_dept/updateShowDept?deptId="+data.did,
                        success:function(){
                            layer.open({
                                title:'修改部门'
                                ,id:'upd'
                                ,type: 2
                                ,content: '/back_dept/updateShowDept?deptId='+data.did
                                ,offset:'10px'//居上100左右居中
                                ,resize:false//不可改变大小
                                ,fixed: false//鼠标滚动时，固定在可视区域
                                ,btn: '关闭'
                                ,btnAlign: 'c' //按钮居中
                                ,shade: 0.3 //遮罩
                                ,area:['450px','280px']
                            });
                        },
                        error:function(XMLHttpRequest){
                            if (XMLHttpRequest.status==403){
                                layer.msg('对不起，你没有该权限', {icon: 5});
                            }
                        }
                    })
                }
            });
        });

    </script>
</head>
<body>
<!-- 信息数据表格 -->
<table class="layui-hide" lay-filter="dept" id="deptInfo"></table>

<!-- 行按钮组件 -->
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon"></i> 删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="update"><i class="layui-icon">&#xe642;</i>修改</a>
</script>

<!-- 头部按钮组件 -->
<script type="text/html" id="toolbarDemo" >
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn" lay-event="addDept"><i class="layui-icon">&#xe654;</i>添加部门</button>
    </div>
</script>
</body>
</html>