<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门</title>

    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <script src="/layuiadmin/layui/layui.js"></script>
    <script src="/js/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        //使用表格
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#topicInfo' //根基id获取元素
                , height: 450
                , url: '/back_topic/findAll' //路径
                , toolbar: '#toolbarDemo'
                , limit: 10                               //每页显示条数 默认是10
                , limits: [10, 15, 20]                      //分页下拉框
                //在字段里面是 头工具栏事件 表格上面自带的按钮
                , defaultToolbar: ['filter', 'print', 'exports']//修改得失表格上面按钮右边的按钮
                , page: true                            //开启分页
                , cols: [[ //列
                    {field: 'tid', title: '编号', align: 'center', sort: true}
                    , {field: 'question', title: '题目标题', align: 'center'}
                    , {
                        field: 'answer', title: '题目答案', align: 'center', templet: function (obj) {
                            if (obj.item3 == null && obj.item3 == "" && obj.item4 == null && obj.item4 == "") {
                                return obj.answer == 1 ? "正确" : "错误";
                            }else {
                                var answer;
                                switch (obj.answer) {
                                    case "1":
                                        answer="A";
                                        break;
                                    case "2":
                                        answer="B";
                                        break;
                                    case "3":
                                        answer="C";
                                        break;
                                    case "4":
                                        answer="D";
                                        break;
                                    case "7":
                                        answer="AB";
                                        break;
                                    case "8":
                                        answer="AC";
                                        break;
                                    case "9":
                                        answer="AD";
                                        break;
                                    case "10":
                                        answer="BC";
                                        break;
                                    case "11":
                                        answer="BD";
                                        break;
                                    case "12":
                                        answer="CD";
                                        break;
                                    case "13":
                                        answer="ABC";
                                        break;
                                    case "14":
                                        answer="ABD";
                                        break;
                                    case "15":
                                        answer="ACD";
                                        break;
                                    case "16":
                                        answer="BCD";
                                        break;
                                    case "17":
                                        answer="ABCD";
                                        break;
                                }
                                return answer;
                            }
                            return obj.model == null || obj.model == '' ? "科四" : "科一";
                        }
                    }
                    , {field: 'item1', title: '题目选项1', align: 'center'}
                    , {field: 'item2', title: '题目选项2', align: 'center'}
                    , {field: 'item3', title: '题目选项3', align: 'center'}
                    , {field: 'item4', title: '题目选项4', align: 'center'}
                    , {field: 'explains', title: '帮助描述', align: 'center'}
                    , {
                        field: 'url',
                        title: '题目图片',
                        align: 'center',
                        templet: '<div><img src="{{ d.url }}" style="height: 100px;width: 80px;"></div>'
                    }
                    , {
                        field: 'subject', title: '所属科目', align: 'center', templet: function (obj) {
                            return obj.model == null || obj.model == '' ? "科四" : "科一";
                        }
                    }
                    , {
                        field: 'model', title: '考试类型', align: 'center', templet: function (obj) {
                            return obj.model == null || obj.model == '' ? "任何类型" : obj.model;
                        }
                    }
                ]]
            });

            //头部工具栏的监听事件
            table.on('toolbar(topic)', function () {
                layer.msg('更新中,请耐心等待!', {icon: 7, time: 5000});
                $.ajax({
                    url: "/back_topic/upTopic",
                    success: function () {
                        layer.msg('更新成功!', {icon: 6, time: 5000});
                        // 重载表格
                        table.reload("topicInfo")
                    }, error: function (XMLHttpRequest) {
                        if (XMLHttpRequest.status == 403) {
                            layer.msg('对不起，你没有该权限', {icon: 5});
                        }
                    }
                });
            });
            //搜索加载--数据表格重载
            var $ = layui.$, active = {
                reload: function () {
                    var param = $('#param');//搜索框
                    //执行重载
                    table.reload('topicInfo', {//id 表格的
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            param: param.val()//搜索框的值 插叙条件
                        }
                    });
                }
            };
            //查询按钮点击事件
            $('#searchBtn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            })
        });
    </script>
</head>
<body>
<!--  模糊搜索  -->
<div class="demoTable" style="margin-top: 15px;margin-left: 20px;">
    搜索条件(题目/帮助描述/科目)：
    <div class="layui-inline">
        <input class="layui-input" name="param" id="param" autocomplete="off">
    </div>
    <button class="layui-btn layui-bg-blue" id="searchBtn" data-type="reload"><i class="layui-icon">&#xe615;</i>搜索</button>
</div>
<!-- 信息数据表格 -->
<table class="layui-hide" lay-filter="topic" id="topicInfo"></table>

<!-- 头部按钮组件 -->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn" lay-event="upTopic"><i class="layui-icon">&#xe669;</i>更新题库</button>
    </div>
</script>
</body>
</html>