<!DOCTYPE html>
<html lang="en" xmlns:th="http://www. .org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script>
        //当用户启用预折活动时，也应该验证是否有重复的预折活动
        $(function(){
            var a = document.getElementById("a").innerText;
            if(a!=""){
                document.getElementById("a").style("display","block");
            }else {
                document.getElementById("a").style("display","none");
            }
        });
    </script>
</head>
<body>
<!--<table>
    <tr th:each="dept : ${deptList}">
        <td th:text="${dept.id}"></td>
        <td th:text="${dept.question}"></td>
        <td th:text="${dept.answer}"></td>
        <td th:text="${dept.item1}"></td>
        <td th:text="${dept.item2}"></td>
        <td th:text="${dept.item3}"></td>
        <td th:text="${dept.item4}"></td>
        <td th:text="${dept.explains}"></td>
        <td><img th:src="${dept.url}"/></td>
    </tr>
</table>-->
<p th:text="${a}" id="a">
    asdasdashdkjsah
</p>
</body>
</html>