<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" >
    <script type="text/javascript" src="/layui/layui.js" ></script>
    <script type="text/javascript" src="/layui/jquery-1.12.4.min.js" ></script>

    <style type="text/css">
        .layui-table-cell {
            height: 70px;
        }
    </style>

    <script>

        layui.use('table',function () {
            var table = layui.table;
            table.render({
                elem: '#schoolimginfo',
                id: 'schoolimginfoReload',
                url: '/school_upload/schoolimgAll',
                cellMinWidth: 80,
                limit: 4,
                limits: [4, 8, 12],
                page: true,
                toolbar: "#toolbarTop",
                cols: [[
                    // {type: 'checkbox', fixed: 'left'},
                    {field: 'aId', title: '编号', align: 'center', fixed: 'left', sort: true},
                    {field: 'uid', title: '驾校', align: 'center'},
                    {
                        field: 'aImg',
                        title: '驾校图片',
                        align: 'center',
                        templet: "<div><img src='/driving/{{d.aImg}}'></div>"
                    }
                ]],
                dataType: 'json'
            });
        });


    </script>
</head>
<body>
</body>

<table class="layui-hide" lay-filter="goods" id="schoolimginfo"></table>

</html>